$dropDownHeight: 300px;
$rowPadding: 10px 0px 10px 0px;
$bgPadding: 20px;

.App {
  padding: $bgPadding;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cat-card {
  .card-body {
    display: flex;
  }
  .buttonDetails {
    margin: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// for dropdown box
.dropdown-menu {
  height: $dropDownHeight;
  overflow-y: scroll;
}

// for dropdown button
.dropdown-toggle {
  min-width: 200px
}

.displayRow {
  padding: $rowPadding;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
